body {
    background-color: lightblue;
  }
  
  h1 {
    color: rgb(94, 12, 12);
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  #rcorners2 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
  }